/* You can add global styles to this file, and also import other style files */

@import '~bootstrap/dist/css/bootstrap.min.css';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
html,
body {
    height: 100%;
    background-color: #2C4EA0;
    /*rgb(20, 117, 117);*/
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.txt_login {
    justify-content: flex-end;
}

footer {
    color: white;
    position: fixed;
    bottom: 0px;
    width: 100%
}